@tailwind base;
@tailwind components;
@tailwind utilities;
html, body, #root {
    height: 100%;
}

.credit-card-positioning {
    background-position-y: 3px;
}

.star-positioning {
    background-position-x: 0;
}

.pulse-positioning {
    background-position-x: -38px;
}

.maestro-positioning {
    background-position-x: -90px;
}

.mastercard-positioning {
    background-position-x: 110px;
}

.plus-positioning {
    background-position-x: 66px;
}

.visa-positioning {
    background-position-x: 29px;
}